* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #343a40;
  color: #aab8c5;
  font-size: 12px;
}

#index-title {
  height: 49px;
  line-height: 49px;
  background-color: #404954 !important;
  color: #aab8c5;
  -webkit-box-shadow: 0 0 8px 0 #464f5b;
          box-shadow: 0 0 8px 0 #464f5b;
  font-size: 20px;
}

#home {
  padding: 16px;
}

.toolbar {
  width: 100%;
  min-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px;
}

.toolbar .toolbar-left {
  width: 600px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.toolbar .toolbar-left .item-title {
  padding: 5px;
}

.toolbar .toolbar-left .left-item {
  margin-right: 6px;
}

.toolbar .toolbar-left .left-item input {
  width: 300px;
  height: 32px;
  border: 1px solid #464f5b;
  outline: none;
  padding-left: 8px;
  background-color: #343a40;
  color: #aab8c5;
}

.toolbar .toolbar-left .left-item input:hover, .toolbar .toolbar-left .left-item input:focus {
  border-color: #4baa4e;
}

.toolbar .toolbar-left .left-item input::-webkit-input-placeholder {
  color: #aab8c5;
}

.toolbar .toolbar-left .left-item input:-ms-input-placeholder {
  color: #aab8c5;
}

.toolbar .toolbar-left .left-item input::-ms-input-placeholder {
  color: #aab8c5;
}

.toolbar .toolbar-left .left-item input::placeholder {
  color: #aab8c5;
}

.toolbar .toolbar-left .left-item .ivu-select {
  width: 80px;
  height: 32px;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-selection {
  border: 1px solid #464f5b;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-selection:hover, .toolbar .toolbar-left .left-item .ivu-select .ivu-select-selection:focus {
  border-color: #4baa4e;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-selection .ivu-select-placeholder {
  color: #aab8c5;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-dropdown {
  background-color: #37404a;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item {
  color: #aab8c5;
  background-color: #37404a;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item:hover {
  background-color: #343a40;
}

.toolbar .toolbar-left .left-item .ivu-select .ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item.ivu-select-item-selected {
  color: #4baa4e;
}

.toolbar .search-btn {
  height: 32px;
  line-height: 2px;
  border: none;
  outline: none;
  background-color: #4baa4e;
  border-radius: 2px;
  color: white;
  outline: none;
  padding: 9px 15px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 28px;
}

.toolbar .addBtn {
  height: 32px;
  line-height: 2px;
  border: 1px solid #464f5b;
  outline: none;
  padding: 9px 15px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 28px;
}

.toolbar .addBtn:hover {
  color: #4baa4e;
  border-color: #4baa4e;
}

.toolbar .toolbar-right {
  min-width: 290px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.toolbar .toolbar-right .ivu-page li {
  border: 1px solid #464f5b;
  background-color: #343a40;
}

.toolbar .toolbar-right .ivu-page li:hover {
  border: 1px solid #4baa4e;
}

.toolbar .toolbar-right .ivu-page li:hover a {
  color: #4baa4e;
}

.toolbar .toolbar-right .ivu-page .ivu-page-item-active {
  border: 1px solid #4baa4e;
}

.toolbar .toolbar-right .ivu-page .ivu-page-item-active a {
  color: #4baa4e;
}

.toolbar .toolbar-right .ivu-page input {
  border: 1px solid #464f5b;
  background-color: #343a40;
  color: #aab8c5;
}

.toolbar .toolbar-right .ivu-page input:hover {
  border-color: #4baa4e;
}

.ivu-table {
  margin-top: 16px;
}

.ivu-table thead div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #404954 !important;
}

.ivu-table thead div span,
.ivu-table thead div i {
  background-color: #404954 !important;
}

.ivu-table thead div span {
  font-size: 20px;
  color: #fff;
}

.ivu-table thead div span i {
  color: #fff;
}

.ivu-table tbody div {
  padding: 0;
  height: 48px;
  line-height: 48px;
  text-align: left;
}

.ivu-table th,
.ivu-table td {
  border-bottom: 1px solid #464f5b !important;
}

.ivu-table tr td {
  background-color: #343a40;
}

.ivu-table .ivu-table-row-hover td,
.ivu-table .ivu-table-row-hover div,
.ivu-table .ivu-table-row-hover span {
  background-color: #444e5a;
  color: #4baa4e;
}

.ivu-table-header thead tr th {
  height: 45px;
  line-height: 45px;
  padding: 0 !important;
  background-color: #404954 !important;
}

.ivu-table-wrapper /deep/ .ivu-table:after {
  width: 0;
}

.ivu-table-wrapper /deep/ .ivu-table:before {
  height: 0;
}

.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(55, 55, 55, 0.6);
}

#drawer {
  width: 60vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

#drawer .editor-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#drawer .editor-container .container-header {
  padding: 16px;
  padding-bottom: 0;
}

#drawer .editor-container .container-header .title {
  padding: 14px 0;
  border-bottom: 1px solid #464f5b;
}

#drawer .editor-container .container-header .detail {
  padding-top: 16px;
  position: relative;
}

#drawer .editor-container .container-header .detail .ivu-select {
  width: 180px;
  height: 32px;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-selection {
  border: 1px solid #464f5b;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-selection:hover, #drawer .editor-container .container-header .detail .ivu-select .ivu-select-selection:focus {
  border-color: #4baa4e;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-selection .ivu-select-placeholder {
  color: #aab8c5;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-dropdown {
  background-color: #37404a;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item {
  color: #aab8c5;
  background-color: #37404a;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item:hover {
  background-color: #343a40;
}

#drawer .editor-container .container-header .detail .ivu-select .ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item.ivu-select-item-selected {
  color: #4baa4e;
}

#drawer .editor-container .container-header .edit-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  background-color: #4baa4e;
  color: white;
}

#drawer .editor-container .quill-editor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
}

#drawer .editor-container .quill-editor .ql-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

#drawer .editor-container .quill-editor * {
  background-color: #fff;
}

#drawer .editor-container .quill-editor .ql-snow * {
  color: black;
}

@-webkit-keyframes in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes in {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=index.css.map */